@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam pro", sans-serif;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-top: 1rem;
}

.logo-container img{
    height: 40px;
    width: 40px;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
    
}

.nav-items div a{
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
    text-decoration: none;
    color: black;   
}

.nav-items div a:hover{
    
    font-weight: bold;
    transition: 0.8s;
    
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);

    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}



.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    font-weight: 800;
    color: #4e45de;
}

.hero-section-subheading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink{
    background-color: red;
    width: fit-content;
    color: white;
    padding: 10px 30px;
    box-shadow: 2px 2px 4px 0px black;
    opacity: 0.7;
    position: relative;
    z-index: 1;
}

.btn-pink::before{
    content: "";
    background-color: white;
    
    position: absolute;
    top :0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}

.btn-pink:hover::before{
    opacity: 1;
    transform: scaleX(1);
   
}
.btn-pink:hover{
    color: black;
}

.user-image img{
    width: 300px;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

@keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        filter: grayscale(0);
        transform: scale(1);
    }
}

.faded-text{
    position: absolute;
}

.project-section{

    background-color: rgb(231,231,231);
    margin-top: 4rem;
    margin-left: -4.6rem;
    margin-right: -4.6rem;
    /* width: 100%; */
}

.page-header{
    color: #e84949;
    font-size:70px;
    text-align:center;
    padding-top:30px;
}

.project-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 0;
    display:flex;
    flex-direction:column;
    gap:120px;
}

.project-card{
    width:90%;
    height:550px;
    background-image: url(./images/resume\ builder\ landing\ page.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position:relative;
    box-shadow:0px 0px 40px #1f1f1f;
}

.project-card::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #1f1f1f9a;
    z-index:0;
    /* transform: scaleX(1); */
}

.project-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index:1;
}

.project-card:hover::before{
    transform:scaleX(1);
}

.project-number{
    position:absolute;
    font-size:200px;
    font-weight:600;
    color:white;
    z-index:10;
    /* display:none; */
    opacity: 0;
}
.project-card:hover .project-number{
    /* display:block; */
    opacity: 1;
}

.project-number-right{
    right:-40px;
    top:-45px;
}

.project-number-left{
    left:-40px;
    top:-45px;
}

.project-content{
    position:absolute;
    display:flex;
    flex-direction:column;
    color:white;
    padding:2em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition:all 0.4s;
  }

  .project-content-left{ 
    left:10%;
  }

  .project-content-right{ 
    right:10%;
  }

  .project-skills-container{
    width:60%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
  }

  .project-skill{
    width:40px;
  }

  .project-heading{
    font-size:50px;
    font-weight: bold;
    line-height:3rem;
  }

  .project-subHeading{
    width:70%;
    font-size:16px;
    font-style: italic;
  }


  .btn-grp{
    display:flex;
    justify-content: baseline;
    align-items:center;
    gap:0.9rem;
  }

  .btn-project:hover{
    border:none;
  }

  .icon{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
    display: flex;
    justify-content: baseline;
    align-items: center;
    
  }

  .icon:hover{
    color:var(--bgOrange);
  }
  .project-card:hover .project-content{
    transform:scale(1.1);
  }

  #project1{
    background-image: url(./resume\ builder\ landing\ page.jpg);
  }

  #project2{
    margin-left:120px;
    background-image: url(./netflix\ clone.jpg);
  }
  #project3{
    background-image: url(./temperature\ converter.jpg);
  }
  #project4{
    margin-left:120px;
    background-image: url(./common\ registration\ form.jpg);
  }
  @media (max-width:1300px) {
    .page-header {
      padding-top: 30px;
      color: var(--bgOrange);
      text-align: center;
      font-size: 40px;
    }
    .project-container {
      padding: 5px;
      margin: 10px;
      gap: 60px;
    }
    .project-card {
      width: 100%;
      height: 300px;
    }
    .project-card {
      background-size: cover;
      background-position: center;
    }
    .project-content {
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      }
      .project-content-left {
        left: 0;
      }
      .project-heading {
        font-size: 40px;
        width: 100%;
      }
      .project-sub-heading {
        width: 100%;
      }
      #project2 {
        margin-left: 0;
      }
      #project4 {
        margin-left: 0;
      }
      .project-skill-container {
        width: 100%;
      }
      .project-skill {
        width: 35px;
      }
      .project-card:hover .project-number {
        display: none;
      }
      .project-card:hover .project-content {
        scale: 0.55;
      }
    }
    .skills-container{
        position:relative;
        display:flex;
        justify-content: space-evenly;
        padding:5rem;
        margin:10rem auto;
        gap:30px;
      }
    
    .skill-container-left{
      width:50%;
      display:flex;
      flex-direction:column;
    }
    
    .skill-container-right{
      display:flex;
      flex-wrap:wrap;
      margin-left: 80px;
      margin-top: 50px;
      height: 70px;
      width:120px;
      position:relative;
      gap:2rem;
      justify-content: center;
    }
    
    .skill-fade-text{
      position:absolute;
      font-size:15em;
      font-style:bold;
      color:rgb(231,231,231);
      bottom:-45.5%;
      right:-5%;
      user-select:none;
      overflow-y:hidden;
    }
    .blob-style{
        position:absolute;
        top:50%;
        left:50%;
        z-index:-5;
        transform:translate(-50%, -50%);
        animation: blobAnimate 3s linear infinite;
      }
      
      @keyframes blobAnimate {
        50%{
          top:54%;
          left:46%;
        }
      }
      
      .skills-logo{
        width:90px;
        transition:all 0.5s;
      }
      
      .skills-logo:hover{
        transform:scale(1.2);
      }
      
      .skill-heading{
        font-size:50px;
        font-style: bold;
        color: #e84949;
        line-height: 50px;
      }
      .caps{
        font-size:90px;
        
      }
      
      .skill-subHeading{
        margin-top: 1rem;
        width:85%;
        text-align: justify;
      }
      
      .skill-subHeading p{
        margin:15px 0;
      }
.contactus-form-container{
    width: 1350px;
    margin-top: 0;
    background-color: rgb(231,231,231);
    margin-left: -4.5rem;
}

.contactus-heading{
    font-size: 70px;
    color: #e84949;
    padding-top: 2rem;
}
.contactus-subheading{
    color: #343d68aa;
    font-size: 30px;
    text-transform: capitalize;
}

.contactus-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.formfield{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    margin-top: 25px;
    width: 100%;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px black;
    border: none;
}
   
.formfield-textarea{
    height: auto;
    padding: 0.5rem;
    
}

#submit-btn{
    border: none;
    font-size: 16px;
    margin: 10px 0;
}

#submit-btn:hover{
    scale: 0.9;
}
.submit-icon{
    padding: 10px;
    font-size: 15px;
    border: none;
}

.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    border: none;
    cursor: pointer;
    margin: 2rem 5rem;
}

footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
    margin-left: -4.5rem;
    margin-right: -4.6rem;
}
.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    font-size: 5em;
    user-select: none;
}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
    
}
.link-wrapper div a {
    color: white;
    text-decoration: none;
    transition: all 0.7s;
}
.link-wrapper div a:hover{
    color: #e84949;
}
.icon-wrapper{
    display: flex;
    gap: 1rem;
}
.icon-wrapper i:hover{
    color: #e84949;
}